@import "../../sass/variables";

.about {
  display: grid;
  padding: 30vh 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $standard-grid-gap;
  grid-template-areas: "about__info about__info about__picture about__links";
  &__info {
    grid-area: about__info;
    &__title {
      margin-top: -20px;
      padding-right: 20px;
      margin-bottom: 0;
      display: inline-block;
    }
    &__line {
      margin: 0 0 0 190px;
      color: $primary;
    }
  }
  &__picture img {
    max-width: 90%;
    margin: 5%;
    // animation: bright-mutate 2s infinite;
  }

  &__links {
    text-align: center;
    grid-area: about__links;
    border: 1px solid $primary;
    border-radius: $standard-border-radius;
    background: $dark-background;
    &__more {
      margin-bottom: 50px;
    }
  }
  &__top-gradient {
    z-index: -1;
    position: relative;
    top: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      180deg,
      rgba(6, 13, 37, 1) 0%,
      rgba(10, 19, 52, 1) 44%,
      rgba(6, 13, 37, 0) 100%
    );
  }
}
