@import "../../sass/variables";
@import "../../sass/typography";
@import "../../sass/mixins";

.about {
  background-color: $dark-background2;
  .max-content {
    display: grid;
    align-items: center;
    padding: 25vh 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $standard-grid-gap;
    grid-template-areas: "about__picture about__info about__info  about__links";
  }
  &__info {
    grid-area: about__info;
    &__title {
      border-bottom: 7px solid $primary;
      margin: 0;
      padding: 0 20px 20px 0;
      margin-bottom: 20px;
      display: inline-block;
    }
    &__text {
      font-size: $normal-text;
      text-align: justify;
    }
  }
  &__picture {
    grid-area: about__picture;
    align-self: center;
    justify-self: center;
    img {
      max-width: 90%;
      margin: 5%;
    }
  }
  &__links {
    text-align: center;
    grid-area: about__links;

    @include card-optional;
    &__more {
      margin: 20px 0;
    }
    a {
      width: 100%;
      margin-bottom: 20px;
      max-width: 250px;
      display: block;
    }
  }
}

@media only screen and (max-width: 760px) {
  .about {
    background-color: $dark-background;
    .max-content {
      display: grid;
      padding: 40px 0;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      gap: 0;
      grid-template-areas:
        "about__picture"
        "about__info"
        "about__links";
    }
    &__info {
      grid-area: about__info;
      margin-top: 40px;
    }
    &__picture {
      margin: 0 50px;
    }
    &__links {
      grid-area: about__links;
    }
  }
}
