/*-----------------  COLOR   -----------------*/

/* Main Color */
$primary: #4e55ff;
/* Secondary / Accent Colors */
$secondary-A: #00ff92;
$secondary-B: #ff6433;
$secondary-C: #00ffd0;
/* General UI Colors */
$lightest: #ffffff;
$mid-background: #1c1c1c;
$dark-background: #111;
$dark-background2: #000;

/*-----------------  SPACING   -----------------*/

$standard-padding: 20px;
$standard-grid-gap: 30px;
$button-padding: 7px 34px;
$max-site-width: 1140px;

/*-----------------  OTHER   -----------------*/

$standard-border-radius: 20px;
