/*-----------------  COLOR   -----------------*/

/* Main Color */
$primary: #4e55ff;
/* Secondary / Accent Colors */
$secondary-A: #00ff92;
$secondary-B: #ff6433;
/* General UI Colors */
$lightest: #ffffff;
$mid-background: #2c385d;
$dark-background: #0a1334;
$dark-background2: #060d25;

/*-----------------  SPACING   -----------------*/

$standard-padding: 20px;
$standard-grid-gap: 30px;
$button-padding: 7px 34px;
$max-site-width: 1140px;

/*-----------------  OTHER   -----------------*/

$standard-border-radius: 20px;
