/*-----------------  PALETTE   -----------------*/

$primary-A: #4e55ff;
$primary-B: #a02dff;
$primary-C: #0093ff;
$primary-D: #7e7e7e;
$secondary-A: #00ffd0;
$secondary-B: #ff6433;
$secondary-C: #00ff92;
$secondary-D: #ffffff;
$secondary-D: #ffffff;

/*-----------------  COLOR   -----------------*/

/* Main Color */
$primary: $primary-A;

/* Secondary / Accent Colors */
$secondary: $secondary-A;

/*-----------------  SPACING   -----------------*/
$lightest: #ffffff;
$mid-background: #1c1c1c;
$dark-background: #111111;
$dark-background2: #000000;
/**/
$support-A: #ffffff;
$support-D: #ededed;

$support-X: #1c1c1c;
$support-Y: #111111;
$support-Z: #000000;

/*-----------------  SPACING   -----------------*/

$standard-padding: 20px;
$standard-grid-gap: 30px;
$button-padding: 7px 34px;
$max-site-width: 1140px;

/*-----------------  OTHER   -----------------*/

$standard-border-radius: 20px;
$standard-border: 1px solid $primary;
