/* --------------- Imports ---------------- */

@import "variables";
@import "typography";
@import "animations";
@import "mixins";

/* --------------- Global Layout Styles ---------------- */

*:focus {
  outline: none;
}
body {
  background-color: $dark-background2;
  margin: 0;
}

.max-content {
  max-width: $max-site-width;
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

/* --------------- UI Styles ---------------- */

.button {
  &__big {
    font-size: $large-text;
  }
  cursor: pointer;
  border-radius: $standard-border-radius;
  font-size: $medium-text;
  padding: $button-padding;
  border: 2px solid $lightest;
  background: $primary;
  &__primary {
    svg {
      margin-right: 10px;
    }
    border-color: $primary;
    color: $lightest;
    &:hover {
      color: $primary;
      background-color: $lightest;
      border: 2px solid $lightest;
      transition: all 0.5s;
    }
    &__void {
      border-color: $primary;
      background: transparent;
      color: $primary;
      &:hover {
        color: $lightest;
        border: 2px solid $lightest;
        transition: all 0.5s;
      }
    }
  }
  &__secondary {
    border-color: $secondary;
    color: $lightest;
    &:hover {
      color: $secondary;
      background-color: $lightest;
      border: 2px solid $lightest;
      transition: all 0.5s;
    }
    &__void {
      border-color: $secondary;
      background: transparent;
      color: $secondary;
      &:hover {
        color: $lightest;
        border: 2px solid $lightest;
        transition: all 0.5s;
      }
    }
  }
}

::selection {
  background-color: $secondary;
  color: $primary;
}

section {
  padding: 40px;
}

.desktop-hide {
  display: none;
}
/* --------------- icon color ---------------- */
.icon-secondary-color {
  fill: $secondary;
}
.icon-primary-color {
  fill: $primary;
}

@media only screen and (max-width: 760px) {
  .desktop-hide {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}
