@import "../../sass/variables";
@import "../../sass/typography";

.contact {
  background-color: $dark-background;
  text-align: center;
  &__info {
    padding: 25vh 0;
  }
  &__invite {
    color: $primary;
    font-size: $normal-text;
  }
  &__title {
    padding: 0;
  }
  &__icons-list {
    padding: 0;
    margin-top: 30px;
    list-style: none;
    li {
      display: inline-block;
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .contact {
    &__info {
      padding: 10vh 0;
      margin: 40px;
    }
  }
}
