@import "../../sass/variables";
@import "../../sass/typography";

.hero {
  padding-top: 35vh;
  height: calc(100vh - 77px);
  &__greetings,
  &__role {
    color: $primary;
  }
  &__name,
  &__role,
  &__intro {
    margin: 0;
  }
  &__intro {
    margin-top: 20px;
    margin-bottom: $standard-padding;
  }
  &__contact-me {
    background-color: transparent;
  }
}

@media only screen and (max-width: 760px) {
  .hero {
    padding: 20vh 40px;
    height: auto;
    &__name,
    &__role,
    &__intro {
      margin-bottom: 15px;
    }
  }
}
