@import "../../sass/variables";
@import "../../sass/typography";

.hero {
  padding-top: 35vh;
  height: calc(65vh - 77px);
  &__greetings,
  &__role {
    color: $primary;
  }
  &__name,
  &__role,
  &__intro {
    margin: 0;
  }
  &__intro {
    margin-top: 20px;
    margin-bottom: $standard-padding;
  }
  &__contact-me {
    background-color: transparent;
  }
  // &__bottom-gradient {
  //   z-index: -1;
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   height: 150px;
  //   background: linear-gradient(
  //     0deg,
  //     rgba(6, 13, 37, 1) 0%,
  //     rgba(6, 13, 37, 1) 44%,
  //     rgba(6, 13, 37, 0) 100%
  //   );
  // }
}
