@import "../../sass/variables";
@import "../../sass/typography";

.work__card {
  &__featured {
    overflow: hidden;
    display: grid;
    grid-template-areas: ". .";
    margin: 80px 0;
    border-radius: $standard-border-radius;
    background-color: $dark-background2;
    border: 1px solid $primary;
    border-bottom: 2px solid $primary;
    &__info {
      padding: 40px;
      max-width: 520px;
    }
    &__image {
      padding: 0;
      margin: 0;
      filter: grayscale(1);
      border-radius: $standard-border-radius;
      transform: translate(30px);
      transition: all ease-in-out 0.4s;
      height: 100%;
      img {
        height: 100%;
      }
    }
    &__type {
      color: $primary;
      text-transform: uppercase;
      font-size: $small-text;
    }
    &__name {
      margin: 10px 0 30px 0;
    }
    &__description {
      font-size: $normal-text;
    }
    &:hover {
      .work__card__featured__image {
        filter: grayscale(0);
        margin-right: 0;
        transform: translate(0);
      }
    }
  }
  &__resources {
    display: grid;
    grid-template-areas: ". .";
    .links {
      padding-right: 30px;
      .button {
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
        width: 180px;
        text-align: center;
      }
    }
    .stack {
      border-left: 1px solid $primary;
      box-sizing: border-box;
      padding-left: 30px;
      &__title {
        color: $primary;
        font-size: $small-text;
      }
      &__list {
        list-style-type: none;
        padding: 0;
        li:before {
          content: "•"; /* Insert content that looks like bullets */
          padding-right: 8px;
          color: $primary; /* Or a color you prefer */
        }
      }
    }
  }
}
