@import "../../sass/variables";
@import "../../sass/typography";

.work {
  padding: 20vh 0;
  background-color: $dark-background2 + cc;
  &__title {
    display: inline-block;
    margin: 0;
    // border-bottom: 7px solid $primary;
  }
  &__subtitle {
    display: inline-block;
    // border-bottom: 7px solid $primary;
  }
  .small-card-container {
    display: grid;
    grid-template-areas: ". . .";
    gap: 30px;
  }
}
