@import "../../sass/variables";
@import "../../sass/typography";

.work {
  padding: 25vh 0;
  // background-color: $dark-background2;
  &__title {
    display: inline-block;
    margin: 0;
    // padding: 20px 0;
    border-bottom: 7px solid $primary;
  }
  .small-card-container {
    display: grid;
    grid-template-areas: ". .";
    gap: 30px;
  }
}
