@import "../../sass/variables";

.work {
  display: grid;
  padding: 30vh 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $standard-grid-gap;
  grid-template-areas: "about__info about__info about__picture about__links";
}
