@import "../../sass/variables";
@import "../../sass/animations";

.skills {
  background: $primary;
  padding: 20vh 0;
  text-align: center;
  &__title {
    display: inline-block;
    padding: 20px 15px;
    margin-top: -20px;
    background-color: $primary;
  }
  &__line {
    color: $mid-background;
    margin-bottom: -25px;
  }
  &__traits {
    display: grid;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $standard-grid-gap;
    grid-template-areas: "skills__traits__1 skills__traits__2 skills__traits__3 skills__traits__4";
    &__icon {
      fill: $lightest;
      width: 100%;
      max-width: 140px;
      // animation: mainframe-fill 10s infinite;
    }
    &__1 {
      grid-area: skills__traits__1;
    }
    &__2 {
      grid-area: skills__traits__2;
    }
    &__3 {
      grid-area: skills__traits__3;
    }
    &__4 {
      grid-area: skills__traits__4;
    }
  }
  &__grid {
    display: grid;
    padding: 60px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $standard-grid-gap;
    grid-template-areas: "skills__grid__front skills__grid__front skills_grid_design skills_grid_design";
    &__front {
      grid-area: skills__grid__front;
    }
    &__design {
      grid-area: skills_grid_design;
    }
  }
}
